body {
  max-width: 90vw;
  margin: auto;
  background-color: lightcoral;
}

header {
  text-align: center;
  width: 100% height 50px;
  border: 4px solid cornflowerblue;
  margin: 10px auto 0px auto;
  background-color: cornflowerblue;
  background-repeat: no-repeat;
  color: black;
  background-size: 100%;
  font-size: 10px;
  font-style: italic;
}
#aboutMe {
  font-size: larger;
  text-align: center;
  color: black;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
}
p {
  font-size: larger;
  text-align: center;
  border: black 2px;
  color: black;
}
.intro {
  padding: 0 18px;
  background-color: peru;
  width: 90%;
  margin: auto;
  padding: 10px 10px 10px 10px;
  border: 2px solid black;
  border-radius: 20px;
}
.container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0%;
  margin: auto;
}

.card {
  display: flex;
  flex-flow: column;
  flex: 300px;
  align-items: center;
  max-width: 300px;
  max-height: 500px;
  padding: 5px;
  margin: 20px;
  margin-bottom: 5px;
  background-color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headingTwo {
  text-align: center;
  flex: 1;
  font-size: 30px;
}

.sectionImg {
  width: 100%;
  background-size: cover;

  border-radius: 10px;
  margin: 5px;
}

.summary {
  text-align: center;
  flex: 1;
  max-height: 70px;
  overflow: visible;
  text-size-adjust: 10px;
}

.linkButton {
  min-width: fit-content;
  background-color: lightpink;
  border-radius: 20px;
  align-items: center;
}
