body {
  max-width: 90vw;
  margin: auto;
  background-color: lightcoral;
}

header {
  padding: 2% 2% 2% 2%;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0%;
  margin: auto;
}

.card {
  display: flex;
  flex-flow: column;
  flex: 300px;
  max-width: 300px;
  padding: 5px;
  margin: 20px;
  margin-bottom: 5px;
  background-color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headingTwo {
  text-align: center;
  flex: 1;
  font-size: medium;
}

.sectionImg {
  width: 50%;
  background-size: cover;
  background-position: cover cover;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
}

.summary {
  text-align: center;
  flex: 1;
  max-height: 70px;
  overflow: visible;
}

.button {
  min-width: fit-content;
  background-color: lightpink;
  border-radius: 20px;
  align-items: center;
}
